@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.quiz-item-wrapper {
  position: relative;
  padding: 3px;
  border-radius: 1.2rem;
  overflow: hidden;
  transition: transform 0.2s ease-in-out;
}

.quiz-item-wrapper:hover {
  transform: scale(1.02);
}

.quiz-item-wrapper::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  z-index: 1;
  background: conic-gradient(
    from var(--angle),
    transparent 0%,
    transparent 40%,
    #00ffff,
    #ff00ff,
    #ffff00,
    transparent 60%,
    transparent 100%
  );

  animation: run-around 4s linear infinite;
}

.quiz-item-content {
  position: relative;
  z-index: 2;
  border-radius: 1rem;
  transition: background-color 0.3s ease-in-out;
  background-color: white;
}

.dark .quiz-item-content {
  background-color: #111827;
}

@keyframes run-around {
  to {
    --angle: 360deg;
  }
}
